* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* html,
body {
    min-width: 100%;
    min-height: 100vh;
} */


/******************Autorisation***********************/

.main-contaner {
    position: absolute;
    width: 100%;
    float: left;
}

.my-contaner {
    width: 500px;
    margin: 200px auto;
    background: #333;
    color: #eee;
    padding: 20px;
}

input[type='email'],
input[type='password'] {
    margin: 10px 0;
    height: 25px;
}

input[type='submit'] {
    display: block;
    margin: 0 auto;
    background: coral;
    padding: 10px 20px;
    border: none;
    color: #eee;
    font-weight: bold;
    cursor: pointer;
}

.form-contaner {
    display: table;
    margin: 0 auto;
}

.form-contaner a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: #eee;
    margin-top: 10px;
}

.smsg,
.fsmg {
    text-align: center;
    margin-bottom: 5px;
}

.smsg {
    color: green;
}

.fmsg {
    color: red;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
}


/***************Admin panel******************/

.main-menu {
    width: 250px;
    min-height: 100vh;
    background: #333;
    color: #eee;
    padding: 10px;
    float: left;
}

.content {
    float: left;
    background: #eee;
    width: calc(100% - 250px);
    min-height: 100vh;
}

.items {
    display: block;
    text-align: center;
    padding: 15px;
    margin: 5px 0 0 0;
    background: chocolate;
    font-weight: bold;
}

.main-menu a {
    text-decoration: none;
    color: #eee;
}

.logged-in {
    display: initial;
    position: absolute;
    top: 15px;
    right: 15px;
}

.sett-contaner {
    border: 1px solid #333;
    width: 500px;
    margin: 50px auto 0 auto;
    padding: 10px 20px;
}

.main-title {
    text-align: center;
    color: red;
}

.new-project-btn {
    width: 64px;
    height: 64px;
    background: url('../img/226562-64.png');
    position: absolute;
    bottom: 30px;
    left: 90px;
    cursor: pointer;
}

.new-project-btn:hover {
    background: url('../img/226562-64 (1).png');
}

.new-project-popup,
.prj-error-popup {
    display: none;
    width: 500px;
    margin-top: 250px;
    padding: 20px;
    position: fixed;
    background: #fff;
    color: #333;
    float: none;
    left: 50%;
    margin-left: -250px;
}

.new-project-popup h2 {
    text-align: center;
}

.new-project-popup input[type='text'] {
    margin: 10px;
}

.new-project-popup label {
    margin-left: 70px;
}

.mask {
    display: none;
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.active-projects {
    /* border: 1px #eee dashed; */
    margin: 50px 0;
}

.new_prj {
    border: 1px #eee dotted;
    margin: 5px 15px;
    padding: 10px 30px;
    text-align: center;
    list-style: none;
    display: block;
}

.new_prj:hover {
    border-style: dashed;
    cursor: pointer;
}

.prj-contaner {
    display: none;
}

.close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50px;
    right: 50px;
    background: url('../img/if_icon-close-round_211651.png');
    background-size: 100% 100%;
    cursor: pointer;
    display: none;
}

.close:hover {
    background: url('../img/if_icon-close-round_211651-hover.png');
    background-size: 100% 100%;
}

.logoErr {
    color: red;
}


/**************************Radio button toggle switch***************************/

.switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    padding: 10px 10px 0 10px;
    overflow: hidden;
}

.switch-title {
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    float: left;
}

.switch-field label {
    display: inline-block;
    width: 200px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #A5DC86;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

/*********************************/

.add-logo-field,
.add-text-field {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 200px;
    margin: 0 10px;
    display: none;
}

input#switch_left:checked #switch-field + div.add-logo-field {
    display: block;
}
input#switch_right:checked + div.add-text-field {
    display: block;
}