@import 'fonts.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed';
}

.main-contaner {}


/************************Top fixed menu*****************************/

.top-menu-contaner {
    display: fixed;
    background: #333;
    color: #eee;
    height: 50px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.top-menu {
    display: table;
    height: 50px;
}

.topLink {
    display: table;
    color: #eee;
    padding: 5px 0;
    margin: 10px 10px 0 0;
    text-decoration: none;
    position: relative;
    float: left;
}

.topLink:first-child {
    margin-left: 20px;
}

.topLink:hover {
    color: #ccc;
}

.site-title {
    position: absolute;
    width: 150px;
    text-align: center;
    top: 10px;
    left: 50%;
    margin-left: -75px;
}

.logout {
    margin: 15px 20px 0 0;
    color: #eee;
    text-decoration: none;
}


/************************Header***********************/

.header {
    background: #eee;
    height: 600px;
}

.logo {
    width: 150px;
    height: 150px;
    max-width: 250px;
    max-height: 250px;
}