@import 'fonts.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed';
}

.main-contaner {}

.top-menu-contaner {
    display: fixed;
    background: #333;
    color: #eee;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.top-menu {
    display: table;
    height: 50px;
}

.topLink {
    display: table;
    color: #eee;
    padding: 5px 0;
    margin: 10px 10px 0 0;
    text-decoration: none;
    position: relative;
    float: left;
}

.topLink:first-child {
    margin-left: 20px;
}

.topLink:hover {
    color: #ccc;
}

.site-title {
    margin-top: 10px;
}

.logout {
    margin: 15px 20px 0 0;
    color: #eee;
    text-decoration: none;
}